# CrowdSec API Keys - généré par Ansible
# NE PAS VERSIONNER CE FICHIERS
CROWDSEC_TRAEFIK_BOUNCER_KEY={{ crowdsec_bouncer_api_key | default('CHANGE_ME') }}
CROWDSEC_FIREWALL_BOUNCER_KEY={{ crowdsec_firewall_api_key | default('CHANGE_ME') }}
